h2 {
	font-family: Arial;
	font-size: 50px;
	color: white;
}

body {
    font-family: batang, "Georgia",
	Times, serif;
	color: white;
	background-color: white;
	background: -webkit-linear-gradient(white, turquoise);
	background: -o-linear-gradient(white, navy blue);
	background: -moz-linear-gradient(white, blue);
	background: linear-gradient(white, blue);
}


tr,td {
	border-color: #00C957;
}

select, textarea, input {
	background-color: #E5E5E3;
	border-spacing: 3;
}

table {
	background-color: #E5E5E4;
}

div
{
    opacity: 5;
    filter: alpha(opacity=15);
    -ms-filter: "alpha(opacity=5)";
    -khtml-opacity: 5;
    -moz-opacity: 5;
}

button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Calibri, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

strong {
	font-family: batang;
	font-size: 23px;
}

code {
	font-size: 21px;
}